<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create</title>
</head>
<body>
<h1>
    글쓰기 페이지
</h1>
<form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        <input type="text" name="title" placeholder="제목"/>
        <input type="text" name="nickname" placeholder="닉네임"/>
        <hr>
        <textarea name="body" placeholder="내용을 입력하세요"></textarea>
        <hr>
        <input type="submit" name="제출" values="제출"/>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="{% url 'index' %}"> 홈으로</a>
</body>
</html>