{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <title>All in My page</title>
</head>
<body>
    <div class="google-search">
        <form action="https://www.google.com/search">
            <input type="text" name="q" class="google-searchTerm" placeholder="S E A R C H">
            <input type="submit" value="구글검색">
            <!--<button type="submit" class="google-search-Button">-->
            <!--    <img src="{% static 'images/search-solid.svg' %">-->
            <!--    </img>-->
            <!--</button>-->
        </form>
    </div><br>
    <div class="youtube-search">
        <form action="https://www.youtube.com/results">
            <input type="text" name="search_query" class="youtube-searchTerm" placeholder="S E A R C H">
            <input type="submit" value="유투브 검색">
        </form>
    </div><br>
    <div class="naver-search">
        <form action="https://search.naver.com/search.naver">
            <input type="text" name="query" class="naver-searchTerm" placeholder="S E A R C H">
            <input type="submit"  value="네이버검색">
        </form>
    </div><br>
    <iframe width="480" height="480" src="https://www.premierleague.com/tables" frameborder="0" allowfullscreen>
    </iframe>
    <iframe width="640" height="480" src="https://sports.news.naver.com/wfootball/index.nhn" frameborder="0" allowfullscreen>
    </iframe>
    <iframe width="480" height="480" src="https://sports.news.naver.com/wfootball/schedule/index.nhn" frameborder="0" allowfullscreen>
    </iframe>
</body>
</html>