body {
    margin : 0;
}

section{
    /*text-align: center;*/
    display: flex;
    align-items: center;
}

.navbar {
    	display: flex;
    	justify-content : space-between;
    	align-items : center;
    	background-color : #263343;
}

.leftnav {
    	display: flex;
    	border:2px solid red;
    	padding-left: 20px;
}

.navlogo {
    font-size : 50px;
    width : 70px;
    height : 70px;
    border:2px solid red;
}

.navtitle {
    color : white;
}


.centernav {
    	display: flex;
    	text-align: center;
    	border:2px solid red;
}

a {
    font-size : 20px;
    text-decoration : none;
    color : white;
}

.navitem {
    display : flex;
    list-style : none;
    padding : 0 20px;
}


.rightnav {
    	display: flex;
    	border:2px solid red;
}

.myinfo img {
    display: flex;
    color : white;
    font-size : 35px;
    width : 50px;
    height : 50px;
	text-align: center;
    align-items : center;
    margin : 0 auto;
    padding-left : 5px;
}

.mainsection {
        text-align : center;
        /*align-items : center;*/
    	margin : 0 auto;
        /*position : absolute;*/
        width : 500px;
        height : 500px;
        border:2px solid red;
}

.mainlogo {
    	display: flex;
    	align-items : center;
    	margin : 0 auto;
        width : 400px;
        height : 400px;
    	border:2px solid red;
    	position: relative;
}

.mainlogo> i {
    	display: flex;
    	align-items : center;
    	margin : 0 auto;
        font-size : 300px;
        color : #263343;
    	border:2px solid red;
}

.mainsearch {
        text-align : center;
    	align-items : center;
    	margin : 0 auto;
    	border:2px solid red;
    	padding-right : 200px;
}

input[type=search] {
    width: 100%;
    max-width: 130px;
    position : absolute;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/play-circle-regular.svg');
    background-position: 10px 14px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: max-width 0.6s;
    transition: max-width 0.6s;
    float: right;
}

input[type=search]:focus {
    max-width: 200px;
}

.leftmenu {
    	border:2px solid red;
}

.content { 
    	border:2px solid red;
}