{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'AIMcss/index.css' %}" rel="stylesheet" />
    <title>All In Mypage</title>
</head>
<body>
    <nav id="mainnav">
        <div id="leftnav">
            <input type="radio" name="tabmenu" class="tabmenu" id="tab1" checked/>
            <label for="tab1">TAP+1</label>
            <input type="radio" name="tabmenu" class="tabmenu" id="tab2"/>
            <label for="tab2">TAP+2</label>
            <input type="radio" name="tabmenu" class="tabmenu" id="tab3"/>
            <label for="tab3">TAP+3</label>
            <!--<ul id="user-tap">-->
            <!--    <li class="user-tap">-->
            <!--        <a href="">-->
            <!--            <span id="tap_1">TAP+1</span>-->
            <!--        </a>-->
            <!--    </li>-->
            <!--    <li class="user-tap">-->
            <!--        <a href="">-->
            <!--            <span id="tap_2">TAP+2</span>-->
            <!--        </a>-->
            <!--    </li>-->
            <!--    <li class="user-tap">-->
            <!--        <a href="">-->
            <!--            <span id="tap_3">TAP+3</span>-->
            <!--        </a>-->
            <!--    </li>-->
            <!--</ul>-->
        </div>
        <div id="centernav">
            <a href="{% url 'index' %}">
                <img src="{% static 'AIMimage/logo.svg' %}" id="mainlogo">
            </a>
        </div>
        <div id="rightnav">
            <a href="">
                <img src="{% static 'AIMimage/cog-solid.svg' %}" onclick="alert('수정화면으로 이동합니다.');" style="cursor:pointer;" class="settinglist" id="setting-icon">
            </a>
            <a href="{% url 'login' %}">
                <img src="{% static 'AIMimage/user-solid.svg'%}" class="settinglist" id="myinfo-icon">
            </a>
        </div>
    </nav><hr>
    <div class="search">
        <div class="search-items" id="google-search">
            <form action="https://www.google.com/search">
                <input type="text" name="q" class="searchTerm" id="google-searchTerm" placeholder="S E A R C H">
                <input type="submit" value="구글검색" class="search-submit" id="google-submit">
            </form>
        </div>
        <div class="search-items" id="youtube-search">
            <form action="https://www.youtube.com/results">
                <input type="text" name="search_query" class="searchTerm" id="youtube-searchTerm" placeholder="S E A R C H">
                <input type="submit" value="유튜브 검색" class="search-submit" id="youtube-submit">
            </form>
        </div>
        <div class="search-items" id="naver-search">
            <form action="https://search.naver.com/search.naver">
                <input type="text" name="query" class="searchTerm" id="naver-searchTerm" placeholder="S E A R C H">
                <input type="submit"  value="네이버 검색" class="search-submit" id="naver-submit">
            </form>
        </div>
    </div>
    <hr>
            <div class="container container1">
                <iframe width=25% height="540" src="https://www.premierleague.com/tables" frameborder="0" allowfullscreen>
                </iframe>
                <iframe width=42% height="540" src="https://sports.news.naver.com/wfootball/index.nhn" frameborder="0" allowfullscreen>
                </iframe>
                <iframe width=25% height="540" src="https://sports.news.naver.com/wfootball/schedule/index.nhn" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <div class="container container2">
            </div>    
            <div class="container container3">
            </div>
</body>
</html>