.tab-bar ul li{
  padding : 1.3vh 1vh 1.3vh 0px;
  margin-left: 1vh;
  border-radius: 5px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
  background : #0fbcf9;
  color : #fff;
  vertical-align: center;
  align-items : center;
  font-size : 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition : all 0.2s ease;
  overflow: hidden;
  display: inline-block;
  border-bottom: 1vh solid #0fbcf9;
}

.tab-bar ul li p{
  width: 100%;
  text-align: center;
  color : #fff;
  position: relative;
  margin : auto 0%;
}

.tab-bar ul li::before{
  content:"";
  position : absolute;
}

.tab-bar ul li:last-child{
  margin-bottom: 0;
}

.tab-bar ul li.active{
  background : #546de5;
  color : #fff;
}

/* .tabmenu{
  display : none;
}

.tabmenu + label {
  display:inline-block;
  padding : 20px;
  margin-left: 5px;
  border-radius: 5px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
  background : #0fbcf9;
  color : #fff;
  font-size : 14px;
  cursor : pointer;
}

.tabmenu:checked + label {
  background : #546de5;
  color : #fff;
} */

.setting-bar {
  clear: both;
  display: flex;
  padding : 0 20px;
  margin-left : 100px;
}

.settinglist {
  float : right;
  position : relative;
  padding : 15px 20px;
  margin-left : 30px;
  fill : black;
  cursor : pointer;
}


.search {
  margin-top : 10vh;
  width:100%;
  min-height: 5vh;
  display:flex;
  justify-content : space-evenly;
}

.search-items {
  position: relative;
  display: flex;
}


.search-items {
  position: relative;
  display: flex;

  }

.searchTerm {
  width: 240px;
  border: 3px solid;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  outline: none;
}

.search-submit {
  color: white;
  border-style: outset;
  border-radius: 5px;
  height: 100%;
  width: 20%;
  min-width: 100px;
  min-height : 17px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
}

#google-searchTerm {
  color: #3498db;
}
#google-submit {
  background: #3498db;
  border-color: #3498db;
}

#youtube-searchTerm {
  color: #ff3838;
}
#youtube-submit {
  background: #ff3838;
  border-color: #ff3838;
}

#naver-searchTerm {
  color: #4cd137;
}
#naver-submit {
  background: #4cd137;
  border-color: #4cd137;
} 

.containerbox {
  width:100%;
  min-height: 100vh;
  margin : 0 auto;
  justify-content: space-between;
  display: flex;
}

.containers {
  width:100%;
  min-height: 100vh;
  display:flex;
  justify-content: space-between;
  margin : 0 auto;
  /* display : none; */
}


.items {
  width : 100vh;
  height : 100vh;
  display: inline-block;
  margin : 5vh 0 5vh;
}

.items > iframe {
  width : 50vh;
  height : 70vh;
}
/* 
#tab1:checked  #container1 {
  display : flex;
}

#tab2:checked  #container2 {
  display : flex;
}

#tab3:checked  #container3 {
  display : flex;
} */