.google-search {
  width: 500px;
  position: relative;
  /*display: flex;*/
}

.google-searchTerm {
  width: 350px;
  border: 3px solid;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: skyblue;
}

.youtube-search {
  width: 500px;
  position: relative;
  /*display: flex;*/
}

.youtube-searchTerm {
  width: 350px;
  border: 3px solid;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: red;
}

.naver-search {
  width: 500px;
  position: relative;
  /*display: flex;*/
}

.naver-searchTerm {
  width: 350px;
  border: 3px solid;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: green;
}