*{
  box-sizing: border-box;
}
body {
    margin : 0;
  	background-color : #fff;
}


#mainnav {
    	display : flex;
    	flex-wrap: wrap;
      align-content: center;
  	  align-items : center;
    	justify-content : space-between;
    	background-color : #fff;
    	width : 100%;
    	margin-top : 10px;
}

#leftnav {
  clear: both;
  display: flex;
  background : #fff;
  padding : 0px;
}


.tabmenu{
  display : none;
}

.tabmenu + label {
  display:inline-block;
  padding : 20px;
  margin-left: 5px;
  border-radius: 5px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
  background : #0fbcf9;
  color : #fff;
  font-size : 14px;
  cursor : pointer;
}

.tabmenu:checked + label {
  background : #546de5;
  color : #fff;
}

#centernav {
  float : none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position : relative;
}

#mainlogo {
  position : relative;
  height : 75px;
}

#rightnav {
  clear: both;
  display: flex;
  background : #fff;
  padding : 0 20px;
  margin-left : 100px;
}

.settinglist {
  float : right;
  position : relative;
  padding : 15px 20px;
  margin-left : 30px;
  fill : black;
  cursor : pointer;
}
