

.search {
  width:100%;
  min-height: 5vh;
  display:flex;
  justify-content : space-evenly;
}

.search-items {
  position: relative;
  display: flex;
  justify-content : space-between;
  }

.searchTerm {
  width: 240px;
  border: 3px solid;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  outline: none;
}

.search-submit {
  color: white;
  border-style: outset;
  border-radius: 5px;
  height: 100%;
  width: 20%;
  min-width: 100px;
  min-height : 17px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
}

#google-searchTerm {
  color: #3498db;
}
#google-submit {
  background: #3498db;
  border-color: #3498db;
}

#youtube-searchTerm {
  color: #ff3838;
}
#youtube-submit {
  background: #ff3838;
  border-color: #ff3838;
}

#naver-searchTerm {
  color: #4cd137;
}
#naver-submit {
  background: #4cd137;
  border-color: #4cd137;
}

.container {
  width:100%;
  min-height: 100vh;
  /*display:flex;*/
  justify-content: space-between;
  margin : 0 auto;
  /* display : none; */
}


iframe {
  margin : 1%;
}

#tab1:checked  #container1 {
  display : flex;
}

#tab2:checked  #container2 {
  display : flex;
}

#tab3:checked  #container3 {
  display : flex;
}