<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Page</title>
</head>
<body>
    <h1> DETAIL PAGE </h1>
    제목 : {{one_blog.title}}<br>
    닉네임 : {{one_blog.nick}}<br>
    작성일 : {{one_blog.create.at}}<br>
    문의처 : {{one_blog.contact}}<br><hr>
    내용   : {{one_blog.desc}}<br>
    {% if one_blog.image%}
        <img src="{{one_blog.image.url}}" alt = "실패"><br>
    {% endif%}
    <hr>
    <a href = "{% url 'edit' one_blog.id %}"> -- EDIT -- </a><br>
    <a href = "{% url 'delete' one_blog.id %}"> -- DELETE -- </a><br>
    <a href = "{% url 'index' %}"> -- HOME -- </a>
</body>
</html>