<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word count</title>
</head>
<body>
    <h1 class="title">
        단어계산기
    </h1>
    <form class="counter">
        <textarea cols=100, rows = 30 name="myword"></textarea>
        <input type="submit" value="COUNT"/>
        
    </form>
    <div class="result">
        <h2 class="input">입력글자 : {{myword}}</h2>
        <h2 class="context">글자길이 : {{display_len}}</h2>
        <!--{{display_cnt}}-->
        
        {% for word,cnt in display_cnt.items %}
            {% if word != "" %}
            {{word}} : {{cnt}}
            {% endif %}
        {% endfor %}
    </div>
    </body>
</html>