{% extends "base.html"%}
{% load static %}
{% block head %}
    <link href="{% static 'AIMcss/signup.css' %}" rel="stylesheet" />
{% endblock %}
    {% block content %}
    <section class="signup">
        <h2 id="bigsignup">회원가입</h2>
        <ul>
        
        {% for field in form %}
                {{ field.errors }}         <! -- 필드 상단에 오류 메시지 출력 -->
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
        {% endfor %}

            <form action="{% url 'signup' %}" method="POST">{% csrf_token %}
                <li><input type="text" name="username" placeholder="ID" title="아이디입력"/></li>
                <li><input type="password" name="password1" placeholder="비밀번호" title="비밀번호입력"/></li>
                <li><input type="password" name="password2" placeholder="비밀번호 확인" title="비밀번호확인"/></li>
                <li><input type="submit" class="signup-button" value="회원가입"></li>
            </form>
        </ul>
    </section>
{% endblock %}

