{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'AIMcss/login.css' %}" rel="stylesheet" />
    <title>All In Mypage - login</title>
</head>
<body>
    <nav id="mainnav">
        <div></div>
        <div id="centernav">
        <a href="{% url 'index' %}">
            <img src="{% static 'AIMimage/logo.svg' %}" id="mainlogo">
        </a>
        </div>
        <div></div>
    </nav><hr>
    <section class="login">
        <h2 id="biglogin">로그인</h2>
        <ul>
            <li><input type="text" placeholder="ID" title="아이디입력"/></li>
            <li><input type="password" placeholder="비밀번호" title="비밀번호입력"/></li>
            <li>
                <label class="checkbox" for="">
                    <input type="checkbox" id="checkID"/>
                    <span class="icon"></span>
                    <span class="text">아이디 저장</span>
                </label>
            </li>
            <li>
                <label class="checkbox" for="">
                    <input type="checkbox" id="autologin"/>
                    <span class="icon"></span>
                    <span class="text">자동 로그인</span>
                </label>
            </li>
            <li><button>Login</button></li>
        </ul>
        <div class="login_etc">
            <ul>
                <li><a href="{% url 'signup' %}">회원가입</a></li>
                <li><a href="">아이디 찾기</a></li>
                <li><a href="">비밀번호 찾기</a></li>
            </ul>
        </div>
    </section>
</body>
</html>