{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>가위바위보</title>
</head>
<body>
    <h1 class="headline">
        가위바위보
    </h1>
    <div class="choice">
        <form>
            <select>
                <option>
                    <img src="{% static 'images/hand-scissors-solid.svg' %}" width="20px" height="20px" name="가위" class="img-buttons scissor" value="가위">
                    가위
                </option>
                <option>
                    <img src="{% static 'images/hand-rock-solid.svg' %}" width="20px" height="20px" name="바위" class="img-buttons rock" value="바위">
                    바위
                </option>
                <option>
                    <img src="{% static 'images/hand-paper-solid.svg' %}" width="20px" height="20px" name="보"  class="img-buttons paper" value="보">
                    보
                </option>
                <option>
                    <img src="{% static 'images/times-solid.svg' %}" width="20px" height="20px" name="그만"  class="img-buttons stop" value="그만">
                    그만
                </option>
            </select>
            <input type="submit"/>
        </form>
    </div>
    <div class="result">
        <h2>
            당신의 선택 : 
        </h2>
    </div>
</body>
</html>