<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles.css" rel="stylesheet" />
    <title>가위바위보</title>
</head>
<body>
    <h1 class="headline">
        가위바위보
    </h1>
    <div class="choice">
        <form>
            <input type="button" class="img-buttons rock" value="바위">
            <input type="button" class="img-buttons scissor" value="가위">
            <input type="button" class="img-buttons paper" value="보">
            <input type="button" class="img-buttons stop" value="그만">
        </form>
    </div>
</body>
</html>