body {
    align-item : center;
}

h1 {
    text-align : center;
}

input.img-buttons {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    }

input.rock {
    background: url( "hand-rock-solid.svg" ) no-repeat;
}

input.scissor {
    background: url( "hand-scissors-solid.svg" ) no-repeat;
}

input.paper {
    background: url( "hand-paper-solid.svg" ) no-repeat;
}

input.stop {
    background: url( "times-solid.svg" ) no-repeat;
}