<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글쓰기 페이지</title>
</head>
<body>
    <h1 class = "title">
        글쓰기 페이지
    </h1>
    {% if one_post %}
    <form action= "{% url 'update' one_post.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" class="title" placeholder="제목" value="{{one_post.title}}"/>
        <input type="text" name="nickname" class="nickname" placeholder="닉네임" value="{{one_post.nickname}}"/><hr>
        <textarea name="body" class="body" placeholder="내용을 입력하세요">{{one_post.body}}</textarea><br>
        <input type="submit" value="수정하기"/>
    </form>
    {% else %}
        <form action= "{% url 'create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" class="title" placeholder="제목"/>
        <input type="text" name="nickname" class="nickname" placeholder="닉네임"/><hr>
        <textarea name="body" class="body" placeholder="내용을 입력하세요"></textarea><br>
        <input type="submit" value="글쓰기"/>
    </form>
    {% endif %}
    <a href="{% url 'index' %}" class="home">홈으로</a>
</body>
</html>