<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상세 페이지</title>
</head>
<body>
    <h5>상세 페이지</h5>
    <h1>제목 :    {{one_post.title}}</h1>
    <strong>닉네임 :     {{one_post.nickname}}<br></strong><hr>
    <h3>내용</h3><br>
    <p>{{one_post.body}}</p><br>
    <a href="{% url 'update' one_post.id %}"><h6> 수정하기 </h6></a>
    <a href="{% url 'delete' one_post.id %}"><h6> 삭제하기 </h6></a>
    <a href="{% url 'index' %}" class="home">홈으로</a>
</body>
</html>